body, html {
	margin:0px;
	padding:0px;
	direction: rtl;
	background-color:#2d3436;
	color:#ecf0f1;
}
.title {
	font-family:ColorTube;
	width:80vw;
	text-align: center;
}
.title>div:first-child {
	font-size:10vh;
}
.title>div:first-child>img {
	width:calc(100px + 50vw);
}
.title>div:last-child {
	font-size:3vmin;
	animation:fadein 2s 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	opacity:0;
}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
.panel {
	display:grid;
	width:100vw;
	height:100vh;
	justify-content:center;
	align-items:center;
}
menu {
	position:fixed;
	left:0px;
	bottom:0px;
	width:100vw;
	min-width: 320px;
	/*background-color:#ecf0f155;*/
	-webkit-backdrop-filter: blur(20px);
	height:30vh;
	margin:0px;
	padding:0px;
	/*box-shadow: 10px 0px 20px 0px;*/
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	font-size:4vh;
	font-family:sf pro text;

	/*display: none;*/
}
menu>a {
	padding:1vh 0px 1vh 0px;
	display:inline-block;
	text-decoration: none;
	/*width:90%;*/
	padding: 10px 30px 10px 30px;
	text-align: center;
	cursor: pointer;
	color:#ecf0f1;
	background-color: #bdc3c733;
	border-radius: 30px;
}
menu>a:not([href]) {
	display:none;
}
menu>a:hover {
	background-color: #95a5a633;
}
menu>a:active {
	background-color: #95a5a633;
}