html, body {
	height: 100%;
}
body
{
	margin: 0px;
	overflow: hidden;
	font-family:arial;
	-webkit-user-select: none;
}
.editArea
{
	margin:0px;
	white-space:nowrap;
	overflow:auto;
	resize: none;
	float:left;
}
#fileName {
	width: -webkit-calc(100% - 200px);
	min-width:100px;
	text-align:left;
	padding-left:2px;
	-webkit-user-select: auto;
	background: none;
	border: none;
	height: 70%;
	font-size: 14px;
	cursor: text;
}
#controlBar, #tabs
{
	height:25px;
	width: 50%;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#ffffff), color-stop(100%,#a1a1a1));
}
#container
{
	height:100%;
	-webkit-filter: blur(6px);
	display: none;	
	transition: all 2s;
}
a.tabButt
{
	display: block;
	float: left;
	width: 33.33%;
	text-align: center;
	padding-top: 3.5px;
	cursor: pointer;
	
}
#controlButt {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 5%,rgba(161,161,161,1) 47%,rgba(142,142,142,1) 62%,rgba(208,208,208,1) 83%,rgba(255,255,255,0.12) 98%,rgba(255,255,255,0) 100%);
	position: absolute;
	top:0px;
	left: -webkit-calc(100% / 2 - 25px);
	-webkit-transition: top 0.6s;
	cursor: pointer;
}
#loaderIMG {
	position: absolute;
	top:0px;
	-webkit-animation:rotate 2.5s; 
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
}
@-webkit-keyframes rotate
{
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(359deg);}
}
.menuObj {
	padding-top: 3.5px;
	float: left;
	cursor: pointer;
}
.menuObj img {
	height:18px;
	width:18px;
	margin-left: 10px;
	vertical-align:middle;
}
textarea.editArea {
	width: -webkit-calc(85% - 6px);
	height: -webkit-calc(100% - 31.5px);
	font-family: monospace;
}
iframe.editArea {
	width: 100%;
	height: 100%;
}
#menuStrip {
	height:25px;
	-webkit-transition: height 0.6s;
	overflow: hidden;
}
#fileMask {
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,137,137,0) 0%,rgba(255,137,137,0) 50%,rgba(255,137,137,1) 100%);
}
#sideTabs {
	position: absolute;
	top: 25px;
	right: 0px;
	width: 15%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	height: -webkit-calc(100% - 25px);
	-webkit-transition: opacity 0.5s;
	-webkit-transition-delay: 0.6s;
}
.sideTabs {
	border: solid 1px;
	-webkit-box-flex: 1;
	-webkit-box-orient: vertical;
	background-color: #DDDDDD;
}
.sideTabs > div {
	background-color: #A6A6A6;
	color: #5F5F5F;
	font-size: 14px;
	font-weight: bold;
	height: 17px;
	overflow-y: hidden;
}
.sideTabs > samp, .sideTabs > span {
	display: block;
	background-color: #DDDDDD;
	width:100%;
	-webkit-box-flex: 1;
	overflow-y: scroll;
}
.sideTabs > samp > div {
	margin-bottom:2px;
}
.sideTabs > samp:last-child {
	margin-bottom:0px;
}
#textSizeCont {
	position: fixed;
	top: 21.5px;
	left: -webkit-calc(100% / 2 - 29px);
	width: 4px;
	height: 7px;
	background: -webkit-radial-gradient(center, ellipse cover, rgba(180,221,180,1) 0%,rgba(131,199,131,1) 17%,rgba(82,177,82,1) 33%,rgba(0,138,0,1) 67%,rgba(0,87,0,1) 83%,rgba(0,36,0,1) 100%);
	-webkit-transform-origin: 29px; 50% 0px;
	-webkit-transform: rotate(-55deg);
	z-index: 3;
	-webkit-transition: top 0.5s, opacity 0.5s;
}
.sideTabs > span {
	height: -webkit-calc(100% - 18px);
	text-align: center;
}
fileitem:nth-child(odd) {
	background:#C5C5C5;
}
fileitem {
	display: block;
}
fileitem > svg {
	cursor: pointer;
}
opener {
	display: inline-block;
	width: -webkit-calc(100% - 14px);
}
.sideTabs > div > span {
	display: inline-block;
	width: -webkit-calc(100% - 16px);
}
sselect, div.sselectTitle {
	display: block;	
	text-align: left;
}
hr {
	-webkit-margin-before: 0px;
	-webkit-margin-after: 0px;	
}
glass {
	display: inline-block;
	height: 14px;
	width: 14px;
	border: solid 2.5px;
	border-radius: 10px;
	margin-bottom: -4px;
	margin-left: 2px;
}
subglass {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	height: 7px;
	width: 9px;
	border-radius: 10px;
}
glass[data-status="idle"] {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,#70b8ff), color-stop(100%,#ffffff));
	border-color: #70B8FF;
}
glass[data-status="idle"] > subglass {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(44%,#70b8ff));
}
glass[data-status="bad"] {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,#FF4242), color-stop(100%,#ffffff));
	border-color: #FF4242;
}
glass[data-status="bad"] > subglass {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(44%,#FF4242));
}
glass[data-status="good"] {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,#29E529), color-stop(100%,#ffffff));
	border-color: #29E529;
}
glass[data-status="good"] > subglass {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(44%,#29E529));
}
glass[data-status="process"] {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(63%,#E5D600), color-stop(100%,#ffffff));
	border-color: #E5D600;
}
glass[data-status="process"] > subglass {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(44%,#E5D600));
}