body, html {
	margin:0px;
	padding:0px;
	direction: rtl;
	/*background-color:#2d3436;*/
	/*background-color:#000;*/
	color:#2d3436;
	font-family:sf pro text;
	font-size: 20px;
}
.title {
	width:90vw;
	text-align: center;
	color:#ecf0f1;
}
#homePanel {
	color:#ecf0f1;
	height: 90vh;
	margin-bottom: 10vh;
	flex-direction:column;
}
.title>svg, .title>img {
	overflow:visible;
	width:100%;
	max-width:1280px;
}
.title>div:first-child {
	font-size:10vh;
}
.title>div:first-child>img {
	width:calc(100px + 50vw);
}
.title>div:last-child {
	font-size:3vmin;
	animation:fadein 2s 2s cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
	opacity:0;
}
@keyframes fadein {
	0% {opacity:0;}
	100% {opacity:1;}
}
.panel {
	display:flex;
	width:100vw;
	height:100vh;
	justify-content:center;
	align-items:center;
}
#aboutMe.panel {
	background-color: #ecf0f1;
	height:auto;
	width:100vw;
	box-sizing: border-box;
	padding-bottom:15vh;
	padding-right:15vw;
	padding-left:50vw;
	clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10vh), 0% 100%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 10vh), 0% 100%);
}
#portfolio.panel {
	clip-path: polygon(0% 10vh, 100% 0%, 100% calc(100% - 10vh), 0% 100%);
	-webkit-clip-path: polygon(0% 10vh, 100% 0%, 100% calc(100% - 10vh), 0% 100%);
	background-color: #ecf0f1;
	margin-top: 25vh;
}
#projects.panel {
	clip-path: polygon(0% 10vh, 100% 0%, 100% calc(100% - 10vh), 0% 100%);
	-webkit-clip-path: polygon(0% 10vh, 100% 0%, 100% 100%, 0% 100%);
	background-color: #ecf0f1;
	margin-top: 25vh;
	box-shadow: 0px 0px 20px 10px #00000055;
}
.panels, #bgcanvas {
	position:absolute;
	top:0px;
	left:0px;
	width: 100vw;
	z-index:1;
	margin-bottom: 150px;
}
body {
	background: linear-gradient(#000000 1%, rgba(45, 14, 81, 1) 59.24%);
	background-repeat: no-repeat;
    background-attachment: fixed;
}
#bgcanvas {
	width:100vw;
	height:100vh;
	box-shadow: 0px 0px 20px 10px white;
	background: linear-gradient(to bottom, #000000 1%,#511a93 100%);
}
footer {
	/*position:fixed;
	bottom:0px;
	left:0px;*/
	width:100vw;
	background-color:rgb(182,185,186);
	height:150px;
	display: grid;
	grid-template-columns: 1fr 398.5px;
	grid-template-rows: 1fr 20px;
	color: #ecf0f1;
	z-index:0;
}
footer>img {
	grid-column: 2 / 2;
	grid-row: 1 / 3;
	width:350px;
	justify-self: end;
	align-self: center;
	margin-left: 48.5px;
}
#footerlinks {
	max-height:100px;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	padding:20px 48.5px 10px 48.5px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	align-content: flex-start;
}
#footerlinks>a {
	width:20%;
	cursor: pointer;
	color:#ecf0f1;
	text-decoration:none;
}
#footerlinks>a:hover {
	text-decoration:underline;
}
#copyright {
	grid-column: 1 / 3;
	grid-row: 2 / 2;
	text-align: center;
	font-size: 14px;
}
menu {
	background-color:#0000003a;
	-webkit-backdrop-filter: blur(20px);
	height:75px;
	flex:1;
	display: flex;
	position: fixed;
    top: 0px;
    left:0px;
    flex-direction:row;
	justify-content:center;
	align-items:center;
	width:100vw;
	/*max-width:1280px;*/
	font-size: 30px;
	margin:0px;
	padding:0px;
	box-shadow: 0px 0px 20px 10px #00000055;
	z-index: 2;
}
menu>a {
	display: flex;
	justify-content:center;
	align-items:center;
	height:100%;
	text-align: center;
	cursor: pointer;
	color:#ecf0f1;
	text-decoration:none;
	transition:background 0.2s;
	padding-left:2vw;
	padding-right:2vw;
	/*background: linear-gradient(to bottom, rgba(236,240,241,0) 20%,rgba(236,240,241,0) 100%);*/
}
/*menu>a:not([href]), menu>a:not([data-href]) {
	display:none;
}*/
menu>a:hover {
	background-color: #ecf0f119;
	/*background: linear-gradient(to bottom, rgba(236,240,241,0.14) 20%,rgba(236,240,241,0) 100%);*/
}
menu>a:active {
	background-color: #ecf0f166;
	/*background: linear-gradient(to bottom, rgba(236,240,241,0.4) 20%,rgba(236,240,241,0) 100%);*/
}