.fileControl
{
visibility: hidden;
position:fixed;
left:0px;
top:0px;
z-index: 5;
font-family: arial;
font-weight: bold;
color: #F0F0F0;
}
.alertContent
{
background-color: #ece9d8;
border: 2px solid #5786D6;
border-bottom-left-radius: 2.5px;
border-bottom-right-radius: 2.5px;
height: 100%;
color: #000000;
font-weight: normal;
padding: 2px;
}
.fakeStrip
{
background-color: #5786D6;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
padding-left: 2px;
cursor:move;
}
.close
{
float: right;
background-color: #d85759;
width: 30px;
height: 12px;
margin-right: 3px;
text-align: center;
}
.close:hover
{
background-color: #E43D3E;
}
#x
{
margin: auto;
cursor: pointer;
}